.footer{
    background-color: blue;
    background-repeat: no-repeat;
    background-position: 278px 55%;
    background-image: url();
    background-size: cover;
top: 100vh;
position: relative;

}

